@import "varibals";
@import "mixins";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
}

.search {
    @include flex(flex, center, center);
    padding: 100px 20px 200px;
    border-radius: 0 0 40px 40px;
    background: linear-gradient(13deg, $primaryColor , $warningColor);
    // box-shadow: $orangeColor 0 20px 100px 0;
    box-shadow: $primaryColor 0 20px 100px 0;

    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;

    #location {
        width: 45px;
        margin-right: 10px;
        cursor: pointer;
        transition: all .1s ease-in;
        -webkit-transition: all .1s ease-in;
        -moz-transition: all .1s ease-in;
        -ms-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;

        &:hover {
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
        }
    }

    input {
        width: 300px;
        height: 35px;
        border: none;
        padding: 10px;
        color: $errorColor;
        font-size: .9rem;
        border-radius: 10px 0 0 10px;
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        -o-border-radius: 10px 0 0 10px;

        &:focus {
            outline: none;
        }
    }

    button {
        border: none;
        background-color: $warningColor;
        height: 35px;
        padding: 10px;
        border-radius: 0 10px 10px 0;
        font-size: .9rem;
        cursor: pointer;
        transition: all .1s ease-in;
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -ms-border-radius: 0 10px 10px 0;
        -o-border-radius: 0 10px 10px 0;
        -webkit-transition: all .1s ease-in;
        -moz-transition: all .1s ease-in;
        -ms-transition: all .1s ease-in;
        -o-transition: all .1s ease-in;

        &:hover {
            color: $primaryColor;
        }
    }
}

#weather {
    @include flex(flex, center, center);
    overflow: hidden;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    min-height: 200px;
    margin: auto;
    margin-bottom: 50px;
    position: relative;
    bottom: 80px;
    padding: 30px;
    border-radius: 30px;
    @include boxShadow;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;

    h1 {
        color: $primaryColor;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    #main {
        @include flex(flex, center, center);
        margin-bottom: 20px;

        span {
            margin: 0 30px 0 10px;
            color: gray;
        }
    }
}

#info {
    width: 100%;
    @include flex(flex, space-evenly, center)
}

#info span {
    color: $secondaryColor;
    margin-left: 5px;
}

#forecast {
    margin-bottom: 5rem;
    @include flex(flex, space-between, start);
    flex-wrap: wrap;

    h3 {
        color: $primaryColor;
        margin-bottom: 30px;
    }

    p {
        margin-bottom: 10px;
    }

    span {
        color: $secondaryColor;
    }
}

#forecast div {
    width: 150px;
    padding: 20px 10px 30px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 1rem;

    @include boxShadow;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#modal {
    background-color: rgba(128, 128, 128, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include flex(none, center, center)
}

#modal>div {
    background: #fff;
    width: 500px;
    border-radius: 20px;
    padding: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#modal span {
    background-color: $errorColor;
    color: #fff;
    font-weight: 900;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all .1s ease-in;
    padding: 5px 10px;
    border-radius: 10px;
    -webkit-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    -ms-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#modal p {
    margin-top: 40px;
    color: $errorColor;
}

#loaderContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in-out 0.5s;


    &.hidden {
        backdrop-filter: blur(0px);
        pointer-events: none;
        visibility: hidden;

        #loader {
            width: 0px;
            height: 0px;
            border-width:0px;
        }
    }

    #loader {
        width: 100px;
        transition: all ease-in-out 0.5s;
        height: 100px;
        border: 7px solid $primaryColor;
        border-bottom-color: transparent;
        border-top-color: transparent;
        border-radius: 50%;
        display: inline-block;
        animation: rotation 1s linear infinite;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-animation: rotation 1s linear infinite;
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@media (max-width:500px) {
    #weather {
        width: 95%;
    }

    #forecast {
        width: 95%;
        margin: 0 auto;
    }
}